div#content {
  margin: auto;
  display: inline-block;
}

/*
h1 {
  font-size: 1.5em;
  background-color: #0000FF;
  color: white;
  border: solid black 1pt;
  margin: 0pt;
  padding-left: 0.5em;
}
*/

body{
    background-color: #eeeeee;
    width: 640px;
}

div.board {
    text-align: center;
    background-color: #eeeeee;
    width: 640px;
    margin: 190px 0 0 0;
}

div.tools {
    background-color: #eeeeee;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 640px;
}

div.tools form { margin: 0; }

div.board table {
    border-style: solid;
    border-width: 1.5px;
    border-collapse: collapse;
    border-color: #000000;
}
div.board td {
    border-style: solid;
    border-width: 1px;
}

button.minereset {
    display: inline-block;
    width: 80px;
    height: 80px; 
    background-image: url("Acid2.png");
    background-size: contain;
    margin: auto;
    margin-bottom: 5px;
}

div.counter, div.timer {
    display: inline-block;
    background-color: black;
    color: red;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 60px;
    margin: 10px;
    font-size: 2.5em;
}

div.tools input { display: none; }
div.tools label {
    display: inline-block;
    border: ridge 4px #000000;
    margin: 5px;
}
div.tools input:checked + label {
    background-color: #ffffff;
    border: ridge 4px #FF0000;
}

/* classes for cell */
/* Common style for cell */
.u0, .uf, .uq, .ue, .o0, .o1, .o2, .o3, .o4, .o5, .o6, .o7, .o8, .om {
    width: 60px;
    height: 60px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 2em;
}

.u0, .uq, .ue {
    background-color: inherit;
}

.uf {
    background-color: yellow;
    background-image: url("flag.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.o0, .o1, .o2, .o3, .o4, .o5, .o6, .o7, .o8, .om {
    font-weight: bold;
}

.om { background-color: #FF0000; }
.o0, .o1, .o2, .o3, .o4, .o5, .o6, .o7, .o8 {
    background-color: #cccccc;
}

.o1 { color: blue; }
.o2 { color: green; }
.o3 { color: red; }
.o4 { color: navy; }
.o5 { color: brown; }
.o7 { color: black; }
.o8 { color: gray; }
